/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/

input,
label,
select,
button,
textarea
{
    margin:0;
    border:0;
    padding:0;
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
    background:none;
    line-height:1;
    font-size: 1rem;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
    outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
    width:13px;
    height:13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
    -webkit-appearance:textfield;
    -webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
    display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
    /* Fix IE7 display bug */
    overflow:visible;
    width:auto;
    outline-width: 0;
    cursor: pointer;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{
    padding:0;
    border:0;
    background:none;
}

/* Textarea
-----------------------------------------------*/

textarea
{
    /* Move the label to the top */
    vertical-align:top;

    /* Turn off scroll bars in IE unless needed */
    overflow:auto;
  /*   outline-width: 0; */
}

/* Selects
-----------------------------------------------*/

select
{

}
select::-ms-expand {
    display: none;
}

select[multiple]
{
    /* Move the label to the top */
    vertical-align:top;
}


@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Josefin+Sans&display=swap');


/* font */
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(../font/NotoSansKR-Regular.woff2) format('woff2'),
        url(../font/NotoSansKR-Regular.woff) format('woff'),
        url(../font/NotoSansKR-Regular.otf) format('opentype');
 }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    line-height:1.25em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-size:1rem;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
img {
    max-width:100%;
    vertical-align:middle;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    min-width:100%;
}
tr, th, td{
    vertical-align: middle;
}
a, a:active, a:visited, a:hover {
    text-decoration: none;
}
html, body{
    font-size:16px;
    color:#333;
    font-family:'Noto Sans KR',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.wrapper{
    width:100%;
    margin:0 auto;
    min-width: 960px;
}
.wrap{
    width:960px;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    margin:0 auto;
    position:relative;
    padding:0 10px;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.clearfix:after{
    content:'';
    display:block;
    clear:both;
}
.blind{
    position:absolute;
/*  left:0;
    top:0;*/
    width:1px;
    height:1px;
    overflow:hidden;
    opacity:0;
}
.text-center{
    text-align:center !important;
}
.text-left{
    text-align:left !important;
}
.text-right{
    text-align:right !important;
}
.text-ellipsis{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:100%;
}
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}
.d-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
/* header */
.header{position:fixed;left:0;top:0;width:100%;z-index:99;-webkit-transition:all .3s;transition:all .3s;}
.header.scrolled{background:#1f303a;}
.header .wrap{height:88px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.header__logo a{font-size:30px;color:#fff;font-weight:600;}
.nav__link{color:#fff;text-align:center;height:88px;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-weight:600;margin:0 20px;}
.etc__link{width:95px;height:32px;border:1px solid #fff;color:#fff;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-right:15px;}
.etc__link--bg{background:#20303B;margin-right:0;border:none;}
.etc__link--bgBlue{background:#20303B;margin-right:0;border:none;}
.etc__link--bgWhite{background:#fff;border:1px solid #20303B;color:#20303B;}
.header__login{-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.header__login span{font-size:18px;color:#1f303a;margin-right:10px;}

.header--sub{background:#fff;}
.header--sub .header__logo a{color:#977D5B;}
.header--sub .nav__link{color:#000;border-bottom:4px solid transparent;}
.header--sub .nav__link:hover{border-bottom:4px solid #977D5B;}
.header--sub .nav__link.is-active{border-bottom:4px solid #977D5B;}



/* footer */
.footer{background:#1f303a;padding:45px 0;}
.footer__nav{margin-bottom:35px;}
.footer__nav a{color:#fff;margin-right:55px;}
.footer__nav a:last-child{margin-right:0;}
.footer__copy{padding-top:25px;border-top:1px solid #616161;}
.copy__link{margin-bottom:12px;}
.copy__link a{font-size:14px;color:#616161;margin-right:20px;}
.copy__link a:last-child{margin-right:0;}
.footer__copy small{font-size:14px;color:#616161;}

/* components */
.pDn{padding:0 !important;}
.mBn{margin-bottom:0 !important;}


.closeBtn{height:100%;width:25px;position:absolute;right:43px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);cursor:pointer;}
.closeBtn::after, .closeBtn::before{content:'';width:100%;height:3px;background:#000;position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:all .3s;transition:all .3s;}

.closeBtn:hover::before{transform:rotate(-45deg);}
.closeBtn:hover::after{transform:rotate(45deg);}

/* board */
.board ul{border-top:2px solid #977e5b;}
.board__head{width:100%;padding:15px 16px;color:#000;border-bottom:1px solid #d8d8d8;text-align:left;position:relative;}
.board__head::after{content:'';width:9px;height:9px;border:2px solid #d8d8d8;border-width:2px 2px 0 0;position:absolute;right:17px;top:13px;-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg);}
.board__body{padding:12px 16px;font-size:14px;color:#000;line-height:20px;display:none;border-bottom:1px solid #d8d8d8;}
.board li.is-active .board__head{color:#977e5b;}
.board li.is-active .board__head::after{top:20px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.board li.is-active .board__body{display:block;}

/* visual */
.visual{height:400px;position:relative;background:url(../images/sky.jpg) no-repeat 56% 42%;background-size: cover;}
.visual__txt .wrap{-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.visual__txt{padding-top:120px;}
/*
.visual__txt h2{font-size:36px;color:#fff;font-weight:600;margin-bottom:20px;}
.visual__txt p{font-size:21px;color:#fff;}
*/
.visual__step{background:rgba(151,126,91,.7);position:absolute;left:0;bottom:0;width:100%;}
.visual__step__item{width:314px;height:72px;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:21px;color:#fff;border-right:1px solid #977e5b;}
.visual__step__item:nth-child(1){border-left:1px solid #977e5b;}
.visual__step__item.is-active{background:rgba(151,126,91,1);}

/* data */
.data .wrap{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.data__item{width:32%;height:200px;border:2px solid #d8d8d8;position:relative;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding-left:30px;margin-bottom:20px;margin-right:2%;}
.data__item:nth-child(3n){margin-right:0;}
.data__item:hover{border:2px solid #977e5b;}
.data__mark{width:48px;height:48px;position:absolute;right:-2px;top:-2px;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background:#977e5b;color:#fff;}
.data__txt h3{font-size:21px;color:#000;margin-bottom:10px;font-weight:500;-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline;}
.data__txt h3 .small{font-size:14px;}
.data__txt p{color:#616161;margin-bottom:40px;}
.data__uploadBox{-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.data__upload{width:96px;height:32px;border:1px solid #000;font-size:14px;color:#000;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.data__Warning{text-align:center;font-size:20px;color:#ff3e3e;margin-top:30px;}

/* data file */
.data__fileBox{-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.data__upload--file{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;cursor: pointer;}
.data__fileTxt{color:#000;text-decoration:underline;width:125px;margin-left:15px;}

/* data complete */
.data__item--complete{background:rgba(196, 196, 196, 0.4);}
.data__item--complete:hover{border:2px solid #d8d8d8;}
.data__item--complete .data__mark{background:#d8d8d8;color:#000;}
.data__item--complete .data__txt h3{display:inline-block;background:url(../images/icon/check.png) no-repeat right center;padding-right:30px;}

/* data unsubmitted */
.data__item--unsubmitted{border:2px solid #ff3e3e;}
.data__item--unsubmitted:hover{border:2px solid #ff3e3e;}
.data__item--unsubmitted .data__mark{background:#ff3e3e;color:#fff;}

/* data choice */
.data__item--choice .data__mark{background:#f9f9f9;color:#6a6a6a;}

/* data site */
.data__site{color:#000;text-decoration:underline;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:15px;}
.data__site:last-child{margin-bottom:0;}
.data__site img{margin-left:5px;}


/* btn */
.btnBox{margin-top:50px;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.btn{width:160px;height:48px;background:#d8d8d8;font-size:21px;color:#000;font-weight:600;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:0 15px;}
.btn--white{background:#fff;border:1px solid #000;}
.btn--gold{background:#977e5b;color:#fff;}
.btn--bgNone{text-decoration:underline;background:none;}
.btn--bgNone:hover{text-decoration:underline;}

/* tab */
.tab__head{border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;margin-bottom:45px;}
.tab__head .wrap{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.tab__link{height:72px;line-height:72px;width:180px;text-align:center;margin:0 10px;font-size:21px;color:#eaeaea;border-bottom:4px solid transparent;font-weight:600;text-align:center;}
.tab__link.is-active{color:#977e5b;border-bottom:4px solid #977e5b;}

.tabBox--step .tab__link{width:200px;position:relative;margin-right:50px;}
.tabBox--step .tab__link:last-child{margin-right:0;}
.tabBox--step .tab__link::after{content:'';width:7px;height:7px;border:2px solid #d8d8d8;border-width:2px 2px 0 0;position:absolute;right:-35px;top:50%;-webkit-transform:rotate(45deg) translateY(-50%);-ms-transform:rotate(45deg) translateY(-50%);transform:rotate(45deg) translateY(-50%);}
.tabBox--step .tab__link:last-child::after{display:none;}
.tabBox--step .tab__link.is-active::after{border:2px solid #977e5b;border-width:2px 2px 0 0;}

.tab__item{margin-bottom:48px;}

/* ongoing */
.ongoing{width:80px;height:80px;border:1px solid rgba(196, 196, 196, 0.4);border-radius:50%;font-size:18px;color:#000;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:absolute;right:70px;bottom:70px;font-weight:300;}

/* form */
.formBox{background:#f9f9f9;padding:40px 0;}
.form__item{margin-bottom:50px;    padding-top: 10px;}
.form__head{font-size:21px;color:#000;border-bottom:2px solid #d8d8d8;padding:0 30px;padding-bottom:25px;font-weight:600;margin-bottom:40px;}
.form__body{padding:0 30px;}
.form__row{-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:20px;}
.form__row--jc{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}
.form__col{-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-right:15px;}
.form__col:last-child{margin-right:0;}
.form__txt{font-size:14px;color:#000;width:100px;-webkit-box-flex:0;-ms-flex:none;flex:none;}
.form__txt .star{color:#ff3e3e;margin-left:5px;}
.form__inputBox{-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-flex:1;-ms-flex:1;flex:1;}
.form__inputBox--jc{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}
.form__input{-webkit-box-flex:1;-ms-flex:1;flex:1;height:48px;background:#fff;border:1px solid #d8d8d8;}
.form__input input{width:100%;height:100%;font-size:16px;color:#000;padding:0 12px;-webkit-box-sizing:border-box;box-sizing:border-box;}
.form__input input::-webkit-input-placeholder,
.form__textarea textarea::-webkit-input-placeholder{font-size:16px;color:#d8d8d8;}
.form__input input::-moz-placeholder,
.form__textarea textarea::-moz-placeholder{font-size:16px;color:#d8d8d8;}
.form__input input:-ms-input-placeholder,
.form__textarea textarea:-ms-input-placeholder{font-size:16px;color:#d8d8d8;}
.form__input input::-ms-input-placeholder,
.form__textarea textarea::-ms-input-placeholder{font-size:16px;color:#d8d8d8;}
.form__input input::placeholder,
.form__textarea textarea::placeholder{font-size:16px;color:#d8d8d8;}
.form__btn{width:96px;height:32px;border:1px solid #000;font-size:14px;color:#000;margin-left:15px;}
.form__btn button{width:100%;height:100%;}
.form__btn--black{background:#000;color:#fff;}
.form__btn--black button{color:#fff;}
.form__select{position:relative;}
.form__select::after{content:'';width:7px;height:7px;border:2px solid #d8d8d8;border-width:2px 2px 0 0;position:absolute;right:17px;top:16px;-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg);}
.form__select select{width:100%;height:100%;padding-left:12px;font-size:16px;color:#757575;}
.form__hyphen,
.form__at,
.form__num{margin:0 10px;font-size:16px;color:#000;}

.form__required{font-size:21px;color:#000;font-weight:600;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:25px;}
.form__required span{font-size:20px;color:#ff3e3e;margin-right:5px;}
.form__letterCount{font-size:14px;color:#616161;margin-left:15px;}
.form__input--fileFormat{font-size:14px;color:#616161;line-height:20px;}

.form__radio{margin-right:15px;}
.form__radio label{-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:16px;color:#000;}
/* .form__radio input.blind{position:relative;} */
.form__radio input + span{width:24px;height:24px;color:#fff;border:1px solid #d8d8d8;border-radius:50%;margin-right:5px;}
.form__radio input:checked + span{position:relative;}
.form__radio input:checked + span::after{content:'';width:13px;height:13px;background:#FF3F3D;border-radius:50%;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.form__radio--big label{font-size:21px;font-weight:600;}
.form__textarea{width:100%;background:#fff;border:1px solid #d8d8d8;}
.form__textarea textarea{width:100%;height:140px;padding:12px;-webkit-box-sizing:border-box;box-sizing:border-box;}
.form__textarea--hm textarea{height:260px;}
.form__fileUpload{margin-left:10px;}
.form__fileUpload label{font-size:14px;color:#000;width:96px;height:32px;border:1px solid #000;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}

.form__check{margin-right:15px;}
.form__check label{-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:16px;color:#000;}
/* .form__check input.blind{position:relative;} */
.form__check input[type="checkbox"] + span{width:24px;height:24px;color:#fff;border:1px solid #d8d8d8;margin-right:5px;}
.form__check input[type="checkbox"]:checked + span{position:relative;}
.form__check input[type="checkbox"]:checked + span::after{content:'';width:24px;height:24px;background:#FF3F3D;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}

.form__input--w350{width:350px;-webkit-box-flex:0;-ms-flex:none;flex:none;}
.form__input--w300{width:300px;-webkit-box-flex:0;-ms-flex:none;flex:none;}
.form__input--w250{width:250px;-webkit-box-flex:0;-ms-flex:none;flex:none;}
.form__input--w240{width:240px;-webkit-box-flex:0;-ms-flex:none;flex:none;}
.form__input--w200{width:200px;-webkit-box-flex:0;-ms-flex:none;flex:none;}
.form__input--w150{width:150px;-webkit-box-flex:0;-ms-flex:none;flex:none;}
.form__input--w130{width:130px;-webkit-box-flex:0;-ms-flex:none;flex:none;}
.form__input--w120{width:120px;-webkit-box-flex:0;-ms-flex:none;flex:none;}

.form__input--mf{width:100%;-webkit-box-flex:1;-ms-flex:1;flex:1;}
.form__input--link{-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.form__input--link a{font-size:14px;color:#000;}
.form__input--link .bar{font-size:14px;color:#000;margin:0 15px;}

.form__item--check{margin-bottom:0;}
.form__item--check .form__head{font-weight:400;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;border:none;}
.form__item--check .form__body{width:500px;margin-left:auto;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}
.form__item--check .form__txt{text-align:right;padding-right:15px;}
.form__item--check .form__row:last-child{margin-bottom:0;}

.formBox--bgNone{background:none;}
.form__item--one .form__txt{width:auto;font-size:21px;color:#000;font-weight:600;}
.form__item--one .form__txt span{color:#977e5b;text-decoration:underline;margin:0 5px;}
.form__item--one .form__inputBox{-webkit-box-flex:0;-ms-flex:none;flex:none;}
.form__item--one .form__input{width:400px;-webkit-box-flex:0;-ms-flex:none;flex:none;}

.form__item--type2{background:#f9f9f9;padding:40px 0;border-top:2px solid #977e5b;}

.form__privacy{background:#fff;border:1px solid #d8d8d8;padding:30px;width:100%;height:240px;overflow:auto;}
.form__privacy p{white-space:pre-line;}

.form__row--column{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;margin-bottom:45px;}
.form__row--column:last-child{margin-bottom:0;}
.form__row--column .form__txt{width:100%;font-size:21px;color:#000;margin-bottom:15px;}
.form__row--column .form__radio{margin-right:25px;}


/* table */
.table{border-top:1px solid #977e5b;margin-top:25px;}
.table th{height:55px;border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;font-size:20px;color:#977e5b;}
.table td{height:55px;border-bottom:1px solid #d8d8d8;font-size:20px;color:#000;padding-left:30px;}

/* qna */
.qnaWrapper{position:fixed;right:0;top:0;z-index: 1000;height: 100%;width: 100%;display: none; -webkit-transition:all .3s;transition:all .3s;}
.qna__bg{width: 100%;height: 100%;background:rgba(0,0,0,0.7);}
.qnaBox{width:940px;border-radius:15px 0 0 15px;height: 95%;overflow: auto;overflow:auto;position:absolute;right:0;top:2.5%;-webkit-transition:all .3s;transition:all .3s;}

.qnaWrapper.js-active{display: block;}

.qna__head{width:100%;height:88px;background:#977e5b;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;}
.qna__head h2{color:#fff;font-size:30px;font-weight:400;}
.qna__close{height:100%;width:24px;position:absolute;right:43px;}
.qna__close::after, .qna__close::before{content:'';width:24px;height:2px;background:#fff;position:absolute;left:0;top:50%;-webkit-transition:all 0.2s ease;transition:all 0.2s ease;}
.qna__body{background:#fff;padding:75px 0;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.messages{width:780px;border:1px solid #d8d8d8;border-radius:10px;overflow:hidden;}
.messages__head{padding:30px;background:#fff;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.messages__head .icon{width:60px;height:60px;border-radius:50%;overflow:hidden;margin-right:20px;}
.messages__head .txt h3{font-size:20px;color:#000;margin-bottom:10px;}
.messages__head .txt p{color:#6a6a6a;font-weight:400;}
.messages__body{height:500px;overflow:auto;background:#f9f9f9;border-bottom:1px solid #d8d8d8;border-top:1px solid #d8d8d8;padding:30px;-webkit-box-sizing:border-box;box-sizing:border-box;}
.messages__body li{margin-bottom:30px;}
.messages__body li:last-child{margin-bottom:0;}
.messages__body .icon{width:60px;height:60px;border-radius:50%;overflow:hidden;margin-right:20px;}
.messages__body .txtArea__name{font-size:20px;color:#000;margin-bottom:10px;}
.messages__body .txtArea__box{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;}
.messages__body .txtArea__txt{background:#e8e8e8;padding:25px 30px;position:relative;border-radius:4px;}
.messages__body .txtArea__txt::before{content:'';width:15px;height:15px;background:#e8e8e8;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);position:absolute;left:-7px;top:15px;}
.messages__body .txtArea__txt p{font-size:16px;color:#000;line-height:24px;font-weight:400;}
.messages__body .txtArea__time{color:#6a6a6a;font-weight:400;margin:0 12px;}
.messages__body li.right{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;} 
.messages__body li.right .txtArea__txt{background:#fff;border:1px solid #e8e8e8;}
.messages__body li.right .txtArea__txt::before{content:'';width:15px;height:15px;background:#fff;border:1px solid #e8e8e8;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);position:absolute;left:auto;right:-9px;top:15px;border-width:1px 1px 0 0;}
.messages__body .txtArea__file{border:1px solid #d8d8dd;padding:5px 20px;border-radius:4px;margin-top:15px;}
.messages__body .file__link{-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.messages__body .file__thumb{margin-right:15px;width:65px;height:65px;border:1px solid #d8d8d8;border-radius:4px;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;}
.messages__body .file__thumb .img{}
.messages__body .file__thumb .download{position:absolute;width:22px;height:22px;border-radius:50%;background:url(../images/icon/download.png) no-repeat center #d8d8d8;background-size:60% auto;right:-12px;bottom:5px;}
.messages__body .file__info{}
.messages__body .file__info h4{color:#000;font-size:16px;margin-bottom:5px;}
.messages__body .file__info p{font-size:14px;color:#6a6a6a;-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline;}
.messages__body .file__info .fileSize{margin-left:15px;}
.messages__foot{background:#fff;padding:30px;}
.messages__foot .userTxt{width:720px;height:240px;border:1px solid #d8d8d8;overflow:auto;position:relative;margin-bottom:15px;}
.messages__foot .userTxt textarea{width:95%;height:80%;padding:20px;-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:2%;line-height:24px;}
.messages__foot .userTxt textarea::-webkit-input-placeholder{font-size:16px;color:#d8d8d8;line-height:24px;}
.messages__foot .userTxt textarea::-moz-placeholder{font-size:16px;color:#d8d8d8;line-height:24px;}
.messages__foot .userTxt textarea:-ms-input-placeholder{font-size:16px;color:#d8d8d8;line-height:24px;}
.messages__foot .userTxt textarea::-ms-input-placeholder{font-size:16px;color:#d8d8d8;line-height:24px;}
.messages__foot .userTxt textarea::placeholder{font-size:16px;color:#d8d8d8;line-height:24px;}
/* .messages__foot .userTxt .data__fileBox{position:absolute;right:auto;left:20px;top:20px;} */
.messages__foot .userTxt .data__fileBox .data__upload{border:none;background:none;}
.messages__foot .userTxt .data__fileBox .data__upload--file{background:url(../images/icon/attatch.png) no-repeat center;width:24px;height:24px;opacity:.3;}
/*.messages__foot .data__upload{margin-left:auto;}*/

/* title */
.conTit{margin-bottom:50px;text-align:center;}
.conTit h3{font-size:30px;color:#000;font-weight:500;}
.conTit p{color:#000;padding-top:16px;margin-top:16px;position:relative;font-weight:500;}
.conTit p::before{content:'';width:24px;height:1px;background:#000;position:absolute;left:50%;top:0;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}

/* popup */
.popupBox{position:fixed;width:100%;height:100%;left:0;top:0;z-index:1000;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
/*.popup__bg{background:rgba(0, 0, 0, 0.6);position:fixed;width:100%;height:100%;}*/
.popup__bg{background:rgba(0, 0, 0, 0.6);position:absolute;top:0;left:0;width:100%;height:100%;}
.popup{max-height:90%;overflow:auto;}
.popup .wrap{width:940px;padding:0;background:#fff;padding-bottom:20px;}
.popupTit{font-size:21px;color:#000;height:88px;padding:0 30px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-weight:600;position:relative;}

/* contract */
.contract{margin-bottom:40px;}
.contract .wrap{border:1px solid #d8d8d8;padding:0;width:940px;}
.contract__head{font-size:21px;color:#000;font-weight:600;height:88px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 30px;}
.contract__row--txt{border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;background:#f9f9f9;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;height:680px;overflow:auto;font-size:16px;color:#6a6a6a;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.contract__txtInner{background:#fff;width:730px;height:auto;margin-top:auto;padding:50px 20px}
.contract__input{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:0 30px;height:88px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}

/* qna */
.qnaIcon{position:fixed;right:0;top:600px;width:70px;height:80px;border-radius:50% 0 0 50%;background:#977e5b;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:21px;color:#fff;font-weight:600;-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);}


/* container */
.container{position:relative;}
.container .sub{padding-top:88px;}
.content{padding-top:118px;}
.con--pb{padding-bottom:120px;}

/* slide */
.slide__item{background:#ddd;position:relative;}

.slide__item.slide1 {background:url('../images/main1.jpg') no-repeat right top;}
.slide__item.slide2 {background:url('../images/main2.jpg') no-repeat right top;}
.slide__item.slide3 {background:url('../images/main3.jpg') no-repeat right top;}

.slide__item .wrap{height:655px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.slide__txt h2{font-size:32px;color:#fff;font-weight:500;}
.slide__txt p{font-size:50px;color:#fff;font-weight:700;margin-bottom:50px;}
.slide__link{width:180px;height:56px;font-size:20px;color:#fff;background:#977D5B;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.slick-dots{position:absolute;left:50%;bottom:50px;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);display:-webkit-box;display:-ms-flexbox;display:flex;}
.slick-dots li{width:7px;height:7px;border-radius:50%;background:#fff;text-indent:-9999px;margin-right:10px;}
.slick-dots li.slick-active{background:#977D5B;}
.slick-dots li:last-child{margin-right:0;}

/* main */
.main .con2{}
.main .con2 .wrap{-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.main .con2__iPad{position:relative;}
.main .con2__iPad::after{content:'';background:url(../images/screen.png) no-repeat;width:365px;height:354px;position:absolute;left:50%;bottom:0;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}
.main .con2__body{background:#f9f9f9;}
.main .con2__body li{}
.main .con2__body .wrap{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-bottom:1px solid #d8d8d8;padding:48px 40px;}
.main .con2__body li:last-child .wrap{border-bottom:none;}
.main .con2__stepIcon{width:136px;text-align:center;}
.main .con2__stepIcon p{font-size:21px;color:#000;margin-top:15px;}
.main .con2__stepIcon span{color:#977e5b;margin-right:8px;}
.main .con2__stepInfo h4{color:#616161;margin-bottom:18px;font-weight:500;line-height:24px;}
.main .stepTxt__row{background:#fff;border:1px solid #d8d8d8;width:668px;}
.main .stepTxt__row:nth-child(2){border-top:none;padding:15px 0;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.main .stepTxt__row--triple .stepTxt__col{width:calc(668px / 3);}
.main .stepTxt__col{width:50%;padding:15px 0 15px 24px;border-right:1px solid #d8d8d8;position:relative;}
.main .stepTxt__col::after{content:'';width:15px;height:15px;background:#fff;border:1px solid #d8d8d8;border-width:1px 1px 0 0;position:absolute;right:-8px;top:50%;-webkit-transform:translateY(-50%) rotate(45deg);-ms-transform:translateY(-50%) rotate(45deg);transform:translateY(-50%) rotate(45deg);}
.main .stepTxt__col:last-child::after{display:none;}
.main .stepTxt__col:last-child{border-right:none;}
.main .stepTxt__col h5{color:#616161;margin-bottom:10px;font-weight:500;}
.main .stepTxt__col p{color:#000;line-height:24px;height:72px;font-size:14px;}
.main .stepTxt__link{-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-right:20px;}
.main .stepTxt__link:last-child{margin-right:0;}
.main .stepTxt__link span{color:#000;border-bottom:2px solid #d8d8d8;margin-right:5px;}

/* sub */
.application-completed{font-size:30px;color:#000;line-height:42px;text-align:center;}
.con__row--survey{margin-bottom:50px;}


/** login **/


.login-main {
    background: rgb(243, 244, 245);
    height: 100%;
    color: rgb(100, 108, 127);
    line-height: 1.4rem;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
	min-height: 100vh;
  /* background-image: linear-gradient(120deg,#3498db,#8e44ad); */
  background:url(../images/main2.jpg) no-repeat;
}

.login-form {
  width: 360px;
  background: #f1f1f1;
  height: 580px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.login-form h1{
  text-align: center;
  margin-bottom: 60px;
  font-size: 2.5em;
}

.txtb{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb input{
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.txtb span::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg,#3498db,#8e44ad);
  transition: .5s;
}

.focus + span::before{
  top: -5px;
}
.focus + span::after{
  width: 100%;
}

input[type="submit"].logbtn{
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg,#3498db,#8e44ad,#3498db);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

input[type="submit"].logbtn:hover{
  background-position: right;
}

.bottom-text{
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}

/* 이형진 추가 */
.sign_img {max-width:85%;border:1px soild #bbb}
.btn-del {display:inline-block;width:12px;height:12px;background:url(../images/btn_del.gif) no-repeat left top;cursor:pointer;vertical-align:bottom}

.qna__close:hover::before{transform:rotate(45deg);}
.qna__close:hover::after{transform:rotate(135deg);}

.visual__txt h2 { font-family: 'Josefin Sans', sans-serif; letter-spacing: 2.5px; font-size: 3em;color:#fff;font-weight:600;margin-bottom:20px;}
.visual__txt p { font-family: 'Nanum Gothic', sans-serif;font-size:21px;color:#fff; }
/* 남승우 추가 */



